{% extends 'base.html.twig' %}

{% block title %}Que voulez vous faire avant de mourir ?{% endblock %}

{% block body %}

<h1>Bucketlist</h1>
<p>C'est içi la liste des choses à faire avant de passer de l'autre côté du rideau !</p>

{% endblock %}