{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Que voulez vous faire avant de mourir ?{% endblock %}

{% block body %}

<h1>Bucketlist</h1>
    <img src="{{ asset('img/aurores.jpg') }}" id="aurores" alt="aurores" width="1700" height="700">

{% endblock %}