{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Wish list
{% endblock %}

{% block body %}
    <section>
    <h1>Wish list !</h1>

        {% for wish in wishes %}
            <article>
                <a href="{{ path('wish_detail', {id:wish.id})}}" title="Voir les details !">{{ wish.title }}</a>
                {{ wish.category.name }}
            </article>


            {% else %}
            <div>There are no wishes !</div>
        {% endfor %}
    </section>

{% endblock %}